$fontWeightLight: 300;
$fontWeightRegular: 400;
$fontWeightMedium: 500;
$fontWeightSemiBold: 600;
$fontWeightBold: 700;
$fontWeightExtraBold: 800;
$fontWeightBlack: 900;

$logo-font-size: 1.5rem;
$padding: 80px;

$item-bg-color: #ffffff;
$item-bd-color: #eee;

$inner-wrapper-width: 1000px;