@import "../../scss/components";

:host {
    .item {
        text-decoration: none;
        transition: all ease 300ms;
        background-color: var(--item-background-color);
        border: 1px var(--item-border-color) solid;
        box-sizing: border-box;
        padding: 15px 20px;
        border-radius: var(--item-border-radius);
        transition: all ease 300ms;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1em;
        height: 100%;

        &:hover {
            padding: 20px 20px;
            cursor: default;

            .item__meta {
                max-height: 100px;
                animation-name: showmeta;
                animation-duration: 300ms;
            }

            &[href]:hover {
                cursor: pointer;
                background-color: var(--item-background-color-hover);
                border-color: var(--item-border-color-hover);
            }
        }

        &__main {
            flex: 1;
            display: flex;
            flex-direction: column;

            .item__meta {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                overflow: hidden;
                max-height: 0px;
                animation-name: hidemeta;
                animation-duration: 100ms;

                .item__tags {
                    display: flex;
                    flex-direction: row;
                    gap: 10px;
                    margin-bottom: 15px;
                    flex-wrap: wrap;

                    .item__tag {
                        @extend .tag;
                    }
                }

                .item__time {
                    font-size: 0.8em;
                    font-weight: normal;
                    color: var(--item-tag-text-color);
                    display: none;
                }
            }

            .item__content {
                flex: 1;
                display: flex;
                flex-direction: column;

                .item__title {
                    font-size: 1em;
                    line-height: 1.4;
                    color: var(--item-title-text-color);
                    font-weight: 500;
                    margin: 0px;
                    padding: 0px;
                }

                .item__subtitle {
                    color: var(--item-subtitle-text-color);
                    margin: 0px;
                    padding: 0px;
                    margin-top: 4px;
                    font-size: 0.9em;
                }
            }
        }

        &__aside {
            line-height: 0;

            .link-icon {
                width: 24px;

                path {
                    stroke: #aaa;
                }
            }
        }
    }
}

@keyframes showmeta {
    0% {
        max-height: 0px;
        opacity: 0;
    }
    40% {
        max-height: 100px;
    }
    100% {
        opacity: 1;
    }
}

@keyframes hidemeta {
    0% {
        max-height: 100px;
        opacity: 1;
    }
    60% {
        max-height: 100px;
    }
    100% {
        max-height: 0px;
        opacity: 0;
    }
}
