@use "../../scss/components";

:host {
    .job {
        text-decoration: none;
        transition: all ease 300ms;
        box-sizing: border-box;
        padding: 0px;
        border-radius: var(--item-border-radius);
        transition: all ease 300ms;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1em;
        height: 100%;

        &:hover {
            cursor: default;

            &[href]:hover {
                opacity: 0.65;
                cursor: pointer;
            }
        }

        &__main {
            flex: 1;
            display: flex;
            flex-direction: column;

            .job__tags {
                display: flex;
                flex-direction: row;
                gap: 10px;
                margin-bottom: 10px;

                .job__tag {
                    @extend .tag;
                }
            }

            .job__title {
                font-size: 0.9em;
                line-height: 1.4;
                color: var(--item-title-text-color);
                font-weight: 500;
                margin: 0px;
                padding: 0px;
            }

            .job__subtitle {
                color: var(--item-subtitle-text-color);
                margin: 0px;
                padding: 0px;
                margin-top: 4px;
                font-size: 0.7em;
            }
        }

        &__aside {
            line-height: 0;

            .link-icon {
                width: 24px;

                path {
                    stroke: #aaa;
                }
            }
        }
    }
}
