:host {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: var(--page-background-color);
    z-index: 9999;
    box-sizing: border-box;

    .story {
        width: 100%;
        height: 100%;
        // padding: 2em;
        display: flex;
        flex-direction: column;
        overflow: auto;
        box-sizing: border-box;
        gap: 2em;

        &__title {
            text-align: center;
            width: 100%;
            padding: 2em;
            box-sizing: border-box;
        }

        &__images {
            // width: 100%;
            flex: 1;
            overflow-y: hidden;
            overflow-x: scroll;
            // padding-left: 50%;
            // padding-right: 50%;
            scroll-behavior: smooth;
            display: flex;
            padding-right: 30px;
            padding-left: 30px;

            .slide {
                display: flex;
                flex-direction: row;
                gap: 20px;
                height: 100%;

                .seperator {
                    display: block;
                    height: 100%;
                    flex-shrink: 0;
                }

                img {
                    max-height: 100%;
                    aspect-ratio: 0.5625;
                    object-fit: scale-down;
                    border-radius: 6px;
                    width: 100%;
                    opacity: 0.5;

                    &.active {
                        opacity: 1;
                    }
                }
            }
        }
    }
}
