*{
    margin: 0px;
    padding: 0px;
    bottom: 0px;
    box-sizing: border-box;
}

html,
body{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    font-family: 'Jost', 'Cascadia Code', 'Cascadia', sans-serif;
    font-size: 16px;
    overflow: auto;
}

body {
    background-color: var(--page-background-color);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    transition: background-color ease 300ms;
}