@use "variables";

footer {
    width: 100%;
    color: var(--footer-text-color);
    background-color: var(--footer-background-color);
    padding: var(--page-padding);
    padding-top: calc(3 * var(--page-padding));
    padding-bottom: calc(3 * var(--page-padding));
    gap: calc(2 * var(--page-padding));

    #jobs {
        --content-columns: 4;
    }

    #contact {
        --content-columns: 2;
        --content-column-gap: calc(3 * var(--default-padding));
    }

    #imprint {
        --content-row-gap: 0;

        h2 {
            margin-bottom: 0.2em;
            margin-top: 1em;

            &:first-child {
                margin-top: 0;
            }
        }
    }
}

@media screen and (max-width: 840px) {
    footer {
        #jobs {
            --content-columns: 2;
        }
    }
}

@media screen and (max-width: 600px) {
    footer {
        padding: var(--page-padding);
        gap: var(--page-padding);
    }
}
