header {

    .buttons{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;

        button {
            font-size: 0.65em;
            display: inline-flex;
            background: transparent;
            padding: 10px 14px;
            font-weight: $fontWeightMedium;
            text-transform: uppercase;
            align-self: flex-end;
            border: 2px #ddd solid;
            border-radius: 0.2em;
            transition: all ease 300ms;
            color: var(--header-toggle-text-color);
            border-color: var(--header-toggle-border-color);
            line-height: 20px;
            gap: 10px;
    
            &:hover {
                cursor: pointer;
                opacity: 0.65;
            }
    
            svg {
                height: 20px;
                width: 20px;
                fill: var(--header-toggle-text-color);
            }
        }
    }

    section {
        padding: 50px 0px;

        .left {
            display: flex;
            align-items: flex-start;
            justify-content: flex-end;
        }

        .greeting {
            font-size: 1.75em;
            line-height: 40px;
            margin-top: 20px;
            margin-bottom: 20px;
            color: var(--header-greeting-text-color);

            .fyi {
                font-weight: $fontWeightLight;
            }
        }

        .subjects {
            font-size: 1.2em;
            font-weight: $fontWeightRegular;
            color: var(--header-subjects-text-color);
        }
    }
}

@media screen and (max-width: $breakpoint) {

    body.color-theme header {

        section {
            padding-top: 40px;
            padding-bottom: 0px;
        }

        .color-theme-toggle {
            padding: 10px;
            border-radius: 999em;

            span {
                display: none;
            }
        }

    }
}