@use "variables";

header {
    position: relative;

    .buttons {
        position: absolute;
        right: var(--page-padding);
        top: var(--page-padding);
    }

    fyi-jakob-section {
        padding: 50px 0px;
        --content-row-gap: 0;

        .greetings {
            display: flex;
            flex-direction: row;

            .greeting {
                display: block;
                font-size: 1.75em;
                text-align: left;
                line-height: 40px;
                margin-top: 20px;
                margin-bottom: 20px;
                font-weight: var(--font-weight-medium);
                color: var(--header-greeting-text-color);

                .fyi {
                    font-weight: var(--font-weight-light);
                }
            }
        }

        .subjects {
            font-size: 1.2em;
            text-align: left;
            font-weight: var(--font-weight-regular);
            color: var(--header-subjects-text-color);
        }
    }
}

@media screen and (max-width: 600px) {
    header {
        fyi-jakob-section {
            padding-top: 40px;
            padding-bottom: 0px;
        }
    }
}
