header {

    section {
        padding: 50px 0px;

        .left {
            display: flex;
            align-items: flex-start;
            justify-content: flex-end;
        }

        .greeting {
            font-size: 1.75em;
            line-height: 40px;
            margin-top: 20px;
            margin-bottom: 20px;

            .fyi {
                font-weight: $fontWeightLight;
            }
        }

        .subjects {
            font-size: 1.2em;
            font-weight: $fontWeightRegular;
        }
    }
}

@media screen and (max-width: $breakpoint) {

    body.color-theme header {

        section {
            padding-top: 40px;
            padding-bottom: 0px;
        }

        .color-theme-toggle {
            padding: 10px;
            border-radius: 999em;

            span {
                display: none;
            }
        }

    }
}