@use "variables";

.headline {
    color: var(--section-title-text-color);
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 1.5em;
}

header,
main,
#archive,
footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: var(--page-padding);
    gap: var(--default-padding);
}
