
header,
main{
    padding: 40px;
}

header,
main,
footer{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    section {
        display: flex;
        flex-direction: row;
        width: 100%;
        max-width: $inner-wrapper-width;

        .left{
            width: 180px;

            &.section__title{
                font-size: 1em;
                text-align: right;
                padding-top: 15px;
                border-top: 1px solid #e9e9e9;
            }
        }

        .right{
            width: 100%;
            padding-left: 30px;
            display: flex;
            flex-direction: column;

            .items{
                flex: 1;
                display: flex;
                flex-direction: column;
            }
        }
    }
}

@media screen and (max-width: $breakpoint) {
    
    main, 
    header, 
    footer
    {
        section {
            flex-direction: column;

            .left{
                width: 100%;
        
                &.section__title{
                    text-align: left;
                    padding-bottom: 15px;
                    border-bottom: 1px solid #e9e9e9;
                    border-top: 0px;
                    margin-bottom: 20px;
                }
            }
        
            .right{
                width: 100%;
                padding-left: 0px;
            }
        }
    }
}