@use "variables";

main {
    padding-bottom: 0;

    #image {
        --content-align-items: flex-end;

        svg {
            width: 100%;
            max-width: 500px;
            justify-self: end;
        }
    }
}

#archive {
    background-color: var(--archive-background-color);
    border-top: 1px var(--archive-border-color) solid;
    border-bottom: 1px var(--archive-border-color) solid;
    padding-top: calc(2 * var(--page-padding));
    padding-bottom: calc(3 * var(--page-padding));
}

@media screen and (max-width: 600px) {
    #archive {
        padding: var(--page-padding);
    }
}
