* {
    box-sizing: border-box;
}

.story {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: block;
    z-index: 9999;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f4f4f4;
    box-sizing: border-box;

    .container {
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        display: flex;
        overflow: hidden;
        flex: 1;
        padding: 20px 0px;

        .images {
            height: 100%;
            width: auto;
            display: flex;
            flex-direction: row;
            flex-basis: 200px;
            flex-grow: 0;
            flex-shrink: 0;
            transition: all ease 300ms;

            img {
                height: 100%;
                border-radius: 10px;
                overflow: hidden;
                opacity: 0.35;
                transform: scale(0.9);
                transition: all ease 300ms;

                &:hover {
                    opacity: 0.5;
                    transform: scale(0.95);
                    cursor: pointer;
                }

                &.active {
                    opacity: 1;
                    transform: scale(1);
                }
            }
        }
    }

    .title {
        padding: 20px;
        width: 100%;

        h2 {
            font-size: 1em;
            font-weight: 500;
            text-align: center;
        }

        h3 {
            font-size: 0.9em;
            font-weight: normal;
            text-align: center;
        }
    }

    .buttons {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 30px;
        padding: 20px;
    }

    .progress-container {
        width: 100%;
        height: 4px;

        #progress {
            width: 0;
            height: 100%;
            background-color: #999;
        }
    }
}
