@use "variables";
@use "fonts";
@use "base";
@use "text";
@use "components";
@use "layout";
@use "header";
@use "main";
@use "footer";

body {
    .icon-dark {
        display: none;
    }
    .icon-light {
        display: block;
    }

    .icon-grid {
        display: block;
    }

    .icon-list {
        display: none;
    }

    &.dark {
        .icon-dark {
            display: block;
        }
        .icon-light {
            display: none;
        }
    }

    &.grid {
        .icon-grid {
            display: none;
        }

        .icon-list {
            display: block;
        }
    }
}
