@import "../../scss/components";

:host {
    .link {
        text-decoration: none;
        transition: all ease 300ms;
        // border: 1px var(--item-border-color) solid;
        border: 1px transparent solid;
        box-sizing: border-box;
        // padding: 15px 20px;
        padding: 0px;
        border-radius: var(--item-border-radius);
        transition: all ease 300ms;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1em;
        height: 100%;

        &:hover {
            cursor: pointer;
            opacity: 0.65;
            // background-color: var(--item-background-color-hover);
            // border-color: var(--item-border-color-hover);
        }

        &__main {
            flex: 1;
            display: flex;
            flex-direction: column;

            .link__title {
                font-size: 1em;
                line-height: 1.4;
                color: var(--item-title-text-color);
                font-weight: 500;
                margin: 0px;
                padding: 0px;
            }

            .link__subtitle {
                color: var(--item-subtitle-text-color);
                margin: 0px;
                padding: 0px;
                margin-top: 4px;
                font-size: 0.9em;
            }
        }

        &__aside {
            line-height: 0;

            .link-icon {
                width: 24px;

                path {
                    stroke: #aaa;
                }
            }
        }
    }
}
